/*------------------- Componente - Boton Log Out ----------------------*/

button.log_out{
    font-weight: bold;
    border: none;
    border-radius: .5vw;
    padding: .5vw 2vw;
    background-color: white;
    color: rgb(53, 150, 189);
    font-size: calc(1.1vw + 1.1vh);
    box-shadow: 0vw -.3vw 1px rgba(31, 31, 31, 0.445) inset;
    transition: 75ms;
}

button.log_out:hover{
    box-shadow: 0px -.20vw 1.5px rgba(20, 20, 20, 0.582) inset;
    font-size: calc(1.05vw + 1.05vh);
    transition: 75ms;
}

button.log_out:active{
    box-shadow: 0px -.07vw 1.5px rgb(20, 20, 20) inset;
    background-color: rgba(243, 243, 243, 0.999);
    font-size: calc(1vw + 1vh);
    transition: 75ms;
}