/*------------------- Componente - Boton Log Out ----------------------*/

button.log_out{
    font-weight: bold;
    border: none;
    border-radius: .6vw;
    padding: .5vw 2vw;
    background-color: white;
    color: rgb(53, 150, 189);
    font-size: calc(1.1vw + 1.1vh);
    box-shadow: 0vw -.25vw rgba(0, 0, 0, 0.349) inset;
}

button.log_out:hover{
    box-shadow: 0px -.3vw rgba(0, 0, 0, 0.335) inset;
}
