/* --------------------- Estilos de los Boletines ----------------------- */

article{
    border: solid 5px #0000002a;
    padding: 10px;
    z-index: 3;
    background:  #f9f9f9;
    transform: translate(0vw, -0.9vw);
    margin-bottom: 2vh;
    color: #4d4d4d;
    transition: 110ms;
}

article:hover{
    background-color: #f1f1f1;
    cursor: pointer;
    border: solid 5px #3d3d3d86;
    transition: 110ms;
}

/* Nombre del estudiante: */
.nombre{
    font-size: 3vh;
}

/* Número del estudiante: */
.numero{
    float: right;
    transform: translate(0px, -8px);
}


/* Otros datos del estudiante */
article li{
    font-size: 2vh;
    list-style: none;
    text-align: left;
    transform: translate(-30px, 0px);
}