/* --------------------- Estilos de los Boletines ----------------------- */

article{
    border: solid 5px #0000002a;
    padding: 10px;
    z-index: 3;
    background:  var(--boletin_bg);
    transform: translate(0vw, -0.9vw);
    margin-bottom: 2vh;
    color: var(--boletin_color);
    transition: 110ms;
    border-radius: .5vw;
}

article:hover{
    background-color: var(--boletin_hover_bg);
    border: solid 5px #3d3d3d86;
    transition: 110ms;
    color: var(--boletin_hover_color);
}

/* Nombre del estudiante: */
.nombre{
    font-size: calc(1vw + 1vh);
}

/* Número del estudiante: */
.numero{
    float: right;
    transform: translate(0px, -8px);
}


/* Otros datos del estudiante */
article li{
    font-size: calc(.8vw + .8vh);
    list-style: none;
    text-align: left;
    transform: translate(-30px, 0px);
}