/* ------------------------ Título del Boletín --------------------------- */

main h2{
    color: var(--titulo_boletines);
    font-family:  'Trebuchet MS', sans-serif;
    margin-top: 3vh;
    font-size: calc(1.5vw + 1.5vh);
}

h2 span.grado:nth-child(1),span.grado:nth-child(3){
    color: rgb(22, 22, 22);
    font-style: italic;
}
h2 span:nth-child(2){
    color: rgb(45, 98, 168);
    font-style: italic;
}

hr{
    color: var(--linea_separacion);
    border: solid calc(.001vh + .001vw);
    transform: translate(0vw, -0.9vw);
}
